<div class="row-fluid">

  <div class="span1">
  </div>
  <div class="span9">
          <h3>koReport 에 가입하세요 <small>&mdash; <a title="Enter using facebook account" href="#" class="zocial facebook "><span>Facebook</span></a> 이나 <a title="Enter using twitter account" href="#" class="zocial twitter "><span>Twitter</span></a> 로 가입하세요. 아니면 아래에 이메일과 패스워드를 입력해주세요.</small></h3>
          <br \> 

        <form accept-charset="utf-8" action="#" method="post" class="well form-inline">
          이메일과 패스워드를 입력하면 바로 가입과 동시에 업로드 시작! <br \>
          <br \>
          <input type="text" class="input" placeholder="Email">
          <input type="password" class="input" placeholder="Password">
          <button type="submit" class="btn">가입과 동시에 업로드 시작!</button>
        </form>
  </div> 

</div>
