<div class="hero-unit">
  <h2>koReport BETA 에 오신 것을 환영합니다.</h2>
  <p>koReport 에서 좋은 리포트를 다운받을 수 있습니다.
  그리고 하드디스크에 잠자고 있는 여러분의 리포트를 팔아보세요.
  </p>
  <p><a class="btn btn-primary btn-large">더 알아보기 &raquo;</a></p>
<br \>
<br \>
  <h3>지금 가입하세요.</h3>
<br \>
  <small><a title="Enter using facebook account" href="#" class="zocial facebook "><span>Facebook</span></a> 이나 <a title="Enter using twitter account" href="#" class="zocial twitter "><span>Twitter</span></a> 로 가입하세요. 아니면 아래에 이메일과 패스워드를 입력해주세요.</small></h3>

<br \> 
<br \> 
  <form accept-charset="utf-8" action="#" method="post" class="well form-inline">
    이메일과 패스워드를 입력하면 바로 가입과 동시에 리포트 업로드 시작! <span id="flash">이미 등록된 이메일입니다.</span>
    <br \>
    <br \>
    <input type="text" class="input" placeholder="Email">
    <input type="password" class="input" placeholder="Password">
    <button type="submit" class="btn btn-primary">가입과 동시에 리포트 업로드 시작</button>
  </form>
</div> 
