<%= render :partial => "layouts/flash", object: flash %>

<div class="hero-unit">
  <% if user_signed_in? %>
    <h2><%= current_user.email %> 님, koReport BETA 에 오신 것을 환영합니다.</h2>
  <% else %>
    <h2>koReport BETA 에 오신 것을 환영합니다.</h2>
  <% end %>
  <p>하드디스크에서 잠자고 있는 여러분의 리포트를 팔아보세요.
  </p>
  <p><a class="btn btn-primary btn-large">리포트 업로드 &raquo;</a></p>
</div> 
