<% if params[:controller] == 'reports' && (params[:action] == 'index' || params[:action] == 'search' || params[:action] == 'tagged') && @tags %>
  태그들
  <div id='tag_cloud'>
    <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
      <%= link_to tag.name, '/tagged/' + tag.name, :class => css_class %>
    <% end %>
  </div>
<% else %>
<% end %>
