<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">koReport BETA</a>
      <div class="nav-collapse">
        <ul class="nav" style="padding:10px"> 
          <li>하드디스크에 잠자는 리포트를 팔아라!<li>
        </ul>
      </div>
      <div class="nav-collapse pull-right">
        <ul class="nav">
          <li style="padding:10px">계정이 있으신가요?</li>
          <li><%= link_to "로그인", '#' %></li>
        </ul>
      </div>
    </div>
  </div>
</header>
