<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">koReport BETA</a>
      <div class="nav-collapse">
        <ul class="nav" style="padding:10px"> 
          <li>하드디스크에서 잠자는 리포트를 팔아라!<li>
        </ul>
      </div>
      <div class="nav-collapse pull-right">
        <% if user_signed_in? %>
          <ul class="nav">
            <li><%= link_to "로그아웃", destroy_user_session_path, :method => :delete %></li>
            <li style="padding:10px"><%= current_user.email %></li>
          </ul>
        <% else %>
          <ul class="nav">
            <li style="padding:10px">계정이 있으신가요?</li>
            <li><%= link_to "로그인", new_user_session_path %></li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</header>
