<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">

      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <a class="brand" href="/">koReport BETA</a>

      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to "Home", root_path %></li>
        </ul>
      </div>

      <div class="nav-collapse pull-right">
        <ul class="nav">
        <li><%= link_to "로그인", '#' %></li>
        <li><%= link_to "가입", '#' %></li>
        </ul>
      </div>

    </div>
  </div>
</header>
