<div>
  <table class='table table-bordered'>
    <tbody>
      <tr>
        <td>동시접속자:</td>
        <td>128</td>
      </tr>
      <tr>
        <td>등록자료수:</td>
        <td>5,482</td>
      </tr>
    </tbody>
  </table>
</div>
